@model NutriE_commerce.Models.tblCategoria

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>

    <style type="text/css">
        a.my-class {
            color: white
        }

            a.my-class:active {
                color: white
            }

            a.my-class:link {
                color: white
            }

            a.my-class:visited {
                color: white
            }
    </style>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div style="color:white">

            <center ><h1><i>Crea una Categorias</i></h1></center>
            <hr />


            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div style="padding-left:25%; padding-right:25%">
                <center>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                        @Html.EditorFor(model => model.catNombre, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.catNombre, "", new { @class = "text-danger" })

                    </div>
                    <br />
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Descripción</label>
                        @Html.EditorFor(model => model.catDesc, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.catDesc, "", new { @class = "text-danger" })
                    </div>

                    <br />
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Estado</label><br />
                        <label for="exampleFormControlInput1" class="form-label">A: Activo </label>
                        <label for="exampleFormControlInput1" class="form-label">I: Inactivo </label>
                        @Html.EditorFor(model => model.catEstado, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                        @Html.ValidationMessageFor(model => model.catEstado, "", new { @class = "text-danger" })
                    </div>




                    <br />
                    <div>
                        <div>
                            <input type="submit" value="Crear nueva Categoria" class="btn btn-primary" />
                        </div>
                    </div>

                </center>
            </div>

        </div>
    }

    <br />
    <center>
        <div class="container">
            <button type="button" class="btn btn-primary">@Html.ActionLink("Ir a Categoria ", "Index", null, new { @class = "my-class" })</button>

        </div>

    </center>




</body>
</html>
