@model NutriE_commerce.Models.tblCategoria

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <form>

            <div>

                <center>
                    <h1>Editar Categoria</h1>
                    <hr />



                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.catId)


                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                        @Html.EditorFor(model => model.catNombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.catNombre, "", new { @class = "text-danger" })

                    </div>

                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Descripción</label>
                        @Html.EditorFor(model => model.catDesc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.catDesc, "", new { @class = "text-danger" })
                    </div>
                    <div class="mb-3">
                        <label for="exampleFormControlInput1" class="form-label">Estado</label>
                        @Html.EditorFor(model => model.catEstado, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.catEstado, "", new { @class = "text-danger" })

                    </div>

                </center>
            </div>



            <br />

            <center>
                <div>
                    <div>
                        <input type="submit" value="Guardar Cambios" class="btn btn-primary" />

                    </div>
                    <br />
                    @Html.ActionLink("Ir a Categoria", "Index")
                </div>

            </center>
        </form>

    }
    


</body>
</html>
