@model NutriE_commerce.Models.tblProducto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Crear</title>

</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <Center>

            <div class="container">

                <center><h1>Crear Producto </h1></center>
                <hr />

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })


                <div class="row">



                    <div class="col-md-7">
                        <label for="inputPassword4" class="form-label">Categoria</label>
                        @Html.DropDownList("catId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.catId, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-4">
                        <label for="inputPassword4" class="form-label">Código</label>
                        @Html.EditorFor(model => model.proCodigo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.proCodigo, "", new { @class = "text-danger" })
                    </div>

                </div>

                <br />
                <div class="row">
                    <div class="col-md-4">
                        <label for="inputAddress" class="form-label">Nombre</label>
                        @Html.EditorFor(model => model.proNombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.proNombre, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        <label for="inputAddress2" class="form-label">Cantidad</label>
                        @Html.EditorFor(model => model.proStock, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.proStock, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        <label for="inputCity" class="form-label">Descripción</label>
                        @Html.EditorFor(model => model.proDesc, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.proDesc, "", new { @class = "text-danger" })
                    </div>
                   
                </div>
                <br />

                <div class="row">

                    <div class="col-md-4">
                        <label for="inputCity" class="form-label">Precio</label>
                        @Html.EditorFor(model => model.proPrecio, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.proPrecio, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        <label for="inputCity" class="form-label">Observación</label>
                        @Html.EditorFor(model => model.proObser, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.proObser, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-4">
                        <label for="inputCity" class="form-label">Fecha</label>
                        @Html.EditorFor(model => model.proFecha, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.proFecha, "", new { @class = "text-danger" })
                    </div>
                </div>

                <br />
                <br />
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="Crear nuevo producto" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </Center>
    }
    <br />
    <center>
        <div class="container">

            @Html.ActionLink("Ir a Producto", "Index")
        </div>
    </center>
   
</body>
</html>
