@model NutriE_commerce.Models.tblProducto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <style type="text/css">
        a.my-class {
            color: white
        }

            a.my-class:active {
                color: white
            }

            a.my-class:link {
                color: white
            }

            a.my-class:visited {
                color: white
            }
    </style>
</head>
<body>

    <div>

        <center><h1>Eliminar Producto </h1></center>
        <hr />

        <h3>¿Estás seguro de que quieres eliminar este elemento?</h3>
        <br />
        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-style:italic;">
                    <thead>
                        <tr>

                            <th class="text-center"> Código </th>
                            <th class="text-center"> Nombre </th>
                            <th class="text-center"> Stock </th>
                            <th class="text-center"> Detalle </th>
                            <th class="text-center"> Precio </th>
                            <th class="text-center"> Observación </th>
                            <th class="text-center"> Fecha </th>
                            <th class="text-center"> Imagen</th>
                            <th class="text-center"> Categoria </th>



                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proCodigo)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proNombre)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proStock)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proDesc)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proPrecio)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proObser)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proFecha)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proEstado)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.tblCategoria.catNombre)
                            </td>

                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions" style="text-align:right">
                <input type="submit" value="Eliminar Producto" class="btn btn-primary" />
                <button type="button" class="btn btn-primary">@Html.ActionLink("Ir a Productos", "Index", null, new { @class = "my-class" })</button>

            </div>
        }
    </div>

</body>
</html>
