@model NutriE_commerce.Models.tblProducto

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <br />
        <br />
        <center><h1>Detalle del Producto</h1></center>
        <hr />
        <br />
        <div class="panel-body">
            <table class="table table-striped" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-style:italic;">
                <thead>
                    <tr>

                        <th class="text-center"> Código </th>
                        <th class="text-center"> Nombre </th>
                        <th class="text-center"> Stock </th>
                        <th class="text-center"> Detalle </th>
                        <th class="text-center"> Precio </th>
                        <th class="text-center"> Observación </th>
                        <th class="text-center"> Fecha </th>
                        <th class="text-center"> Imagen</th>
                        <th class="text-center"> Categoria </th>
                       


                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proCodigo)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proNombre)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proStock)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proDesc)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proPrecio)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proObser)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proFecha)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.proEstado)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.tblCategoria.catNombre)
                            </td>
                          
                        </tr>

                     </tbody>






            </table>
        </div>


    </div>
    <br />
    <div class="container">
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.proId }) |
            @Html.ActionLink("Ir a Producto", "Index")
        </p>
    </div>
</body>
</html>
