@model IEnumerable<NutriE_commerce.Models.tblProducto>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style type="text/css">
        a.my-class {
            color: white
        }

            a.my-class:active {
                color: white
            }

            a.my-class:link {
                color: white
            }

            a.my-class:visited {
                color: white
            }
    </style>

</head>
<body style=" ">
   
    <div class="container">
       
        <center><h1>Listado de Productos</h1></center>
        <hr />
        
        <p>
            <div class="btn-group">
                <button type="submit" name="add_product" class="btn btn-primary" aria-current="page"> @Html.ActionLink("Agregar Producto", "Create", null, new { @class = "my-class" })</button>
            </div>
        </p>
        <br />
        <div class="panel panel-default">

            <div class="panel-body">
                <table class="table table-striped" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-style:italic;">
                    <thead>
                        <tr>

                            <th class="text-center"> Código </th>
                            <th class="text-center"> Nombre </th>
                            <th class="text-center"> Stock </th>
                            <th class="text-center"> Detalle </th>
                            <th class="text-center"> Precio </th>
                            <th class="text-center"> Observación </th>
                            <th class="text-center"> Fecha </th>
                            <th class="text-center"> Imagen</th>
                            <th class="text-center"> Categoria </th>
                            <th class="text-center"> Acciones </th>


                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.proCodigo)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.proNombre)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.proStock)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.proDesc)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.proPrecio)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.proObser)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.proFecha)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.proEstado)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.tblCategoria.catNombre)
                                </td>
                                <td class="text-center">
                                    @Html.ActionLink("Editar", "Edit", new { id = item.proId }) |
                                    @Html.ActionLink("Detalle", "Details", new { id = item.proId }) |
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.proId })
                                </td>
                            </tr>

                        }
                    </tbody>


                </table>
            </div>
        </div>
    </div>
    
</body>
</html>
