@model NutriE_commerce.Models.tblUsuario

@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <style type="text/css">
        a.my-class {
            color: white
        }

            a.my-class:active {
                color: white
            }

            a.my-class:link {
                color: white
            }

            a.my-class:visited {
                color: white
            }
    </style>
</head>
<body>
    <div class="">

        <center style="color:white"><h1>Detalle del Usuario</h1></center>
        <hr />

        <div class="panel panel-default">
            <div class="panel-body">
                <table class="table table-striped" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-style:italic;">
                    <thead>
                        <tr>
                            <th class="text-center"> Nombre </th>
                            <th class="text-center"> Cédula </th>
                            <th class="text-center"> Teléfono </th>
                            <th class="text-center"> Correo </th>
                            <th class="text-center"> Contraseña </th>
                            <th class="text-center"> Estado </th>
                            <th class="text-center"> Rol</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.usuNombre)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.usuCedula)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.usuTelefono)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.usuCorreo)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.usuContra)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.usuEstado)
                            </td>
                            <td class="text-center">
                                @Html.DisplayFor(model => model.tblRol.rolNombre)
                            </td>

                        </tr>

                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <br />
    <p class="container" style="text-align:right">
        <button type="button" class="btn btn-primary"> @Html.ActionLink("Editar", "Edit", new { id = Model.usuId }, new { @class = "my-class" })</button>
        <button type="button" class="btn btn-primary">@Html.ActionLink("Ir a Usuarios", "Index", null, new { @class = "my-class" })</button>


    </p>
</body>
</html>
