@model System.Data.DataTable

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">

    <style type="text/css">
        a.my-class {
            color: white
        }

            a.my-class:active {
                color: white
            }

            a.my-class:link {
                color: white
            }

            a.my-class:visited {
                color: white
            }
    </style>
</head>
<body>
    <div class="container">
        <center><h1 style="color:white"><i>Listado de Ventas Generadas </i></h1></center>
        <hr />
        <p>
           
            <div class="btn-group pull-right">
                <button type="submit" name="report_product" class="btn btn-primary" aria-current="page"> @Html.ActionLink("Reporte Producto", "Print", null, new { @class = "my-class" })</button>
            </div>
        </p>
        <br />
        <br />
        <div class="panel panel-default">

            <div class="panel-body">
                <table class="table table-striped" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-style:italic;">
                    <thead>
                        <tr>
                            <th class="text-center"> Producto </th>
                            <th class="text-center"> Precio </th>

                            <th class="text-center">  Cantidad</th>
                            <th class="text-center"> Total </th>
                            <th class="text-center"> Fecha </th>

                        </tr>
                    </thead>
                    <tbody style="text-align:center">
                        @for (int i = 0; i < Model.Rows.Count; i++)
                        {
                            <tr>
                                <td>@Model.Rows[i][0]</td>
                                <td>@Model.Rows[i][1]</td>

                                <td>@Model.Rows[i][3]</td>
                                <td>@Model.Rows[i][4]</td>
                                <td>@Model.Rows[i][2]</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
